/* Header Starts Here */


.nav-name {
    font-family:"Lucida Handwriting",cursive;
    font: weight 1000px;
}
body {
    transition: background-color 0.5s ease;
}
.dark-theme {
    background-color: #333;
    color: #fff;
}

* {
  left: 0;
  right: 0;
  font-family: Poppins, sans-serif;
}
.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pages-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pages-links a {
  text-decoration: none;
  color: rgb(148, 201, 148);
  transition: all ease-in 0.5s;
}

.pages-links a:hover {
  text-decoration: underline;
}

.page-link-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.page-link-data a {
  text-decoration: none;
  color: rgb(148, 201, 148);
  transition: all ease-in 0.5s;
  font-weight: 500;

}

.btn {
  background-color: rgb(148, 201, 148);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all ease-in 0.5s;
}
.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* main part */

.nme {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 0;
  }
.nme h1 {
    color: green;
    font-size: 50px;
    margin-block-start: 10;
    margin-block-end: 2 em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.dark-theme .nme h1 {
  color: lightgreen;
}
.main-part {
    display:list-item;
    justify-content: space-between;
}
.img  {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.img img{
    margin-left: 60px;
    margin-top: 80px;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 5px;
}
.dark-theme .img img {
  border: 3px solid lightgray;
}
.img .img-text {
  margin-left: 30px;
  display:list-item;
  flex-direction: row;
}
.img h1 {
  margin: 0;
  padding: 10px;
  color: green;
}
.dark-theme .img h1 {
  color: lightgreen;
}
.img h3 {
  color: gray;
  font-weight: 600;
}
.dark-theme .img h3 {
  color: lightgrey;
}


/* Media query for smaller screens */
@media screen and (max-width: 880px) {
  .main-part {
      flex-direction: column;
  }

  .img {
      flex-direction: column;
      margin-right: 0;
  }

  .img img {
      margin-left: 0;
      margin-top: 10px;
      width: 100%; /* Make the image responsive */
      max-width: 100%;
      height: auto;
  }

  .img .img-text {
      margin-left: 0;
      text-align: center;
      margin-top: 10px;
  }
}

/* Media query for medium-sized screens */
@media screen and (min-width: 880px) and (max-width: 1024px) {
  .img {
      margin-right: 10px;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1025px) {
  .main-part {
      flex-direction: row;
  }

  .img {
      flex-direction: row;
  }

  .img img {
      max-width: 100%;

  }

  .img .img-text {
      margin-left: 30px;
      text-align: left;
      margin-top: 0;
  }
}